html {
    --font-family-a:'Rubik',sans-serif;
    --font-family-b:'Karla',sans-serif;
    --font-family-c:'Nanum Pen Script',sans-serif;
    --color-a-720:rgb(57, 81, 68);
    --color-b-650:rgb(78, 108, 80);
    --color-c-400:rgb(170, 139, 86);
    --color-d-200:rgb(240, 235, 206);
  }

.main {
    margin: 1rem auto;
}

.main__sec-a {}

.main__sec-a__wrapper { 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 2fr 1fr;
}

.main__sec-a__wrapper__y {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    width: 60%;
    margin: 0rem auto;
    padding: 0.5rem 0 1rem 0;
    border-radius: 11px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    border: 2px solid var(--color-a-720);
    overflow: hidden;
}

.main__sec-a__wrapper__y__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: var(--font-family-a);
    color: var(--color-a-720);
}

.main__sec-a__wrapper__y__text {
    font-family: var(--font-family-a);
    font-size: 0.9rem;
    color: var(--color-a-720);
}



.main__sec-a__wrapper__y__image {
    width: 10rem;
    height: 12rem;
    object-fit: cover;
    margin: 0 auto;
}

.main__sec-a__wrapper__x-1 {
    width: 87%;
    margin: 0 auto;
    grid-column: 2/5 ;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-b-650);
    /* padding: 0 0rem 0 1rem; */
    border-radius: 11px;
    border: 2px solid var(--color-d-200);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);

}

.main__sec-a__wrapper__x-1__title {
    margin: 0;
    font-family: var(--font-family-c);
    font-size: 3rem;
    color: rgb(214, 170, 94);
    border-bottom: 2px solid rgb(214, 170, 94);
    padding: 0 1rem 0 1rem;
}

.main__sec-a__wrapper__x-1__text {
    font-family: var(--font-family-b);
    font-size: 1.3rem;
    margin-left: 1rem;
    color: var(--color-d-200);

}

.main-_sec-a__Wrapper__x-1__image__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main__sec-a__wrapper__x-1__image {
    width: 20rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 8px;
    border:2px solid rgb(22, 110, 63);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.main__sec-a__wrapper__x-2 {
    grid-row: 2/3;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-b-650);
    margin-top: 1.5rem;
    padding: 1rem 0;
    border: 2px solid var(--color-d-200);
    border-radius: 11px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.main__sec-a__wrapper__x-2__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 235, 206);
    width: 12rem;
    height: 10rem;
    text-align: center;
    border: 2px solid var(--color-a-720);
    border-radius: 11px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    transition: 2s;
}

.main__sec-a__wrapper__x-2__container:hover {
    transform: scale(1.3) rotate(360deg);

    background-color: var(--color-b-650);
    border-color: var(--color-d-200);
}

.main__sec-a__wrapper__x-2__container:hover .main__sec-a__wrapper__x-2__container__text {
    color: var(--color-d-200);
}

.main__sec-a__wrapper__x-2__container__text {
    text-transform: uppercase;
    font-family: var(--font-family-c);
    font-size: 2.5rem;
    color: var(--color-a-720);
}


@media screen and (max-width:1205px) {

}
@media screen and (max-width:1000px) {
    .main__sec-a__wrapper__x-1__image {
        width: 17rem;
    }
}
@media screen and (max-width:800px) {
    .main__sec-a__wrapper__y__image {
        width: 7rem;
    }
    .main__sec-a__wrapper__y__title {
        font-size: 1.3rem;
    }
    .main__sec-a__wrapper__x-1__image {
        width: 14rem;
        height: 7rem;
    }
    .main__sec-a__wrapper__x-2__container {
        width: 10rem;
        height: 10rem;
    }
}
@media screen and (max-width:580px) {
    .main__sec-a__wrapper {
        grid-template-columns: repeat(5,1fr);
    }
    .main__sec-a__wrapper__x-1 {
        grid-column: 3/6;
    }
    .main__sec-a__wrapper__y {
        grid-column: 1/3;
        width: 15rem;
    }
    .main__sec-a__wrapper__x-1__text {
        font-size: 1rem;
    }
    .main__sec-a__wrapper__x-1__image {
        width: 7rem;
        height: 4rem;
    }
    .main__sec-a__wrapper__x-2 {
        grid-column: 1/6;
    }
    .main__sec-a__wrapper__x-2__container {
        width: 8rem;
        height: 6rem;
    }
    .main__sec-a__wrapper__x-2__container__text {
        font-size: 1.8rem;
    }
    .main__sec-a__wrapper__x-2__container:hover {
        transform: scale(1.1) rotate(360deg);
    }
}

@media screen and (max-width:480px) {
    .container {
        max-width: 350;
    }
    .header__menu__wrapper__icon {
        width: 2rem;
        height: 2rem;
    }
    .header__menu__icon {
        width: 100%;
        height: 100%;
    }
    .header__menu__wrapper__logo__wrapper {

    }
    .header__menu__wrapper__logo {
        font-size: 1.3rem;
    }
    .main__sec-a__wrapper__y {
        width: 10rem;
    }
    .main__sec-a__wrapper__x-1__title {
        font-size: 1.7rem;
    }
    .main__sec-a__wrapper__x-1__text {
        font-size: 0.8rem;
    }
    .main__sec-a__wrapper__x-1__image {
        width: 5rem;
        height: 3rem;
    }
    .main__sec-a__wrapper__x-2__container {
        width: 4rem;
        height: 4rem;
    }
    .main__sec-a__wrapper__x-2__container__text {
        font-size: 1.2rem;
    }
}