html {
    --font-family-a:'Rubik',sans-serif;
    --font-family-b:'Karla',sans-serif;
    --font-family-c:'Nanum Pen Script',sans-serif;
    --color-a-720:rgb(57, 81, 68);
    --color-b-650:rgb(78, 108, 80);
    --color-c-400:rgb(170, 139, 86);
    --color-d-200:rgb(240, 235, 206);
  }

.main {

}
.main__form {
    margin: 2rem auto;
    background-color: var(--color-a-720);
    padding: 1rem;
    width: 40%;
    border-radius: 11px;
    border: 2px solid rgb(235, 188, 108);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}
.main__form__info-a {
}
.main__form__inf-a__title {
    margin-top: 1rem;
    font-family: var(--font-family-a);
    color: rgb(235, 188, 108);
    font-weight: 400;
    font-size: 1.3rem;
}
.main__form__info-a__items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main__form__info-a__item {
    margin-top: 1rem;
}
.main__form__info-a__item__label {
    display: block;
    margin-bottom: 0.5rem;
    font-family: var(--font-family-b);
    color: var(--color-d-200);
    font-size: 1.2rem;

}
.main__form__info-a__item__input {
    width: 70%;
    height: 1.8rem;
    background-color: var(--color-d-200);
    padding: 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-left: 0.5rem;
    font-family: var(--font-family-a);
    font-size: 1.1rem;
    color:rgba(0,0,0,0.8);
}

.main__form__info-a__item__input:focus {
    border: 3px solid rgb(128, 107, 72);
    background-color: #ffff;
}

.main__form__qna-a {

}
.main__form__qna-a__title {

}
.main__form__qna-a__items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main__form__qna-a__item {

}
.main__form__qna-a__item__label {

}
.main__form__qna-a__item__radio {

}
.main__form__term {

}
.main__form__term__label {

}

.main__form__message {
    
}
.main__form__message___label {
    
}
.main__form__message___textarea {
    
}

.main__form__term__checkbox {

}
.main__form__btn {

}

@media screen and (max-width:1000px) {

}
@media screen and (max-width:800px) {

}
@media screen and (max-width:580px) {

}
@media screen and (max-width:480px) {

}